{% extends 'base_generic.html' %}

{% block content %}
    <h1>Author: {{ author.last_name }}, {{ author.first_name }}</h1>
    <p>{% if author.date_of_birth %} {{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death }} {% else %}  {% endif %} {% endif %}</p>
    <div style="margin-left: 20px; margin-top:20px;">
        <h4>Books</h4>
        {% for copy in author.book_set.all %}
            <p><a href="{{ copy.get_absolute_url }}">{{ copy.title }}</a> {% if copy.bookinstance_set.all.count > 0 %} <strong>({{ copy.bookinstance_set.all.count }})</strong> {% endif %}<br>
                {{ copy.summary }}</p>
        {% endfor %}
    </div>
{% endblock %}